# dependencies
node_modules
*.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions