:root {
  --gray-color-50: #fafafa;
  --gray-color-100: #f5f5f5;

  --blue-color-100: #bbdefb;
  --blue-color-300: #64b5f6;
  --blue-color-500: #2196f3;

  --cyan-color-100: #b2ebf2;
  --cyan-color-300: #4dd0e1;
  --cyan-color-500: #00bcd4;
}
